form{
  width: 500px;
  margin: 30px left;
}

form label{
  margin-left: 50px;
  margin-bottom: 5px;
}

form input{
  width: 100px;
  margin-left: 50px;
  margin-bottom: 5px;
}

form input[type='button']{
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

.table {
  width: 500px;
  margin-top: 10px;
  margin-left: 50px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}